## Mihomosh Profile Information

## Profile Name
# Type: String
name: { name }

## Profile Type
# Type: String enumerate ("remote" | "local")
type: { type }

## Profile Remote URL (Optional ONLY for local profile)
# Type: String
{{ if render-opts.is-remote -}}
url: { url }
{{- else -}}
#url: "https://example.com"
{{- endif }}

## User Agent for Updating Profile (Optional)
# Type: String
# Default: { render-opts.default-user-agent }
{{ if render-opts.has-user-agent -}}
user-agent: { user-agent }
{{- else -}}
#user-agent: { render-opts.default-user-agent }
{{- endif }}

## Proxy for Updating Profile (Optional)
# Type: String enumerate ("none" | "system" | "mihomo")
# Default: "none"
{{ if render-opts.has-update-proxy -}}
update-proxy: { update-proxy }
{{- else -}}
#update-proxy: "none"
{{- endif }}

## If Allow Invalid Certificates for Updating (Optional)
# Type: Boolean
# Default: false
{{ if render-opts.has-allow-invalid-certs -}}
allow-invalid-certs: { allow-invalid-certs }
{{- else -}}
#allow-invalid-certs: false
{{- endif }}
